<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      // #aboutus{

      // }
    </script>
  </head>

  <body>
    {% include 'Headline_Express/navbar.html' %}
    <div>
      <center>
        <h1>About Us</h1>
      </center>
    </div>
    <div id="aboutus" class="container text-center">
      <h4>
        Welcome to News Headline, your go-to source for all the latest updates
        and happenings within our vibrant college community. <br /><br />

        At News Headline, we're dedicated to bringing you timely, insightful,
        and engaging content that reflects the diverse interests and
        achievements of our students, faculty, and staff. From campus events and
        academic achievements to student spotlights and community initiatives,
        we strive to capture the essence of life at our college.<br /><br />

        Our team of passionate writers and contributors work tirelessly to
        deliver informative newsletters that keep you informed, inspired, and
        connected to the pulse of our college community. Whether you're a
        current student, alumni, faculty member, or simply curious about what's
        happening on campus, News Headline is here to keep you in the loop.<br /><br />

        Join us as we celebrate the achievements, share the stories, and foster
        a sense of community through the power of words and communication.
        Together, let's embark on a journey of discovery and stay informed with
        News Headline.<br /><br />
      </h4>
    </div>
    {% include 'Headline_Express/footer.html' %}
  </body>
</html>

