<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="footer.css" />

    <style>
      .footer {
        position: relative;
        bottom: 0%;
        width: 100vw;
        height: fit-content;
        background-color: red;
        color: white;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <style>
      @media only screen and (max-width: 600px) {
        #f2 {
          display: none;
        }
      }
    </style>
     <div class="footer" style="background-color: #919090">
      <div class="donate-button text-center" style="padding-top: 1.5vh">
        <!-- <a href="https://www.example.com/donate" type="submit" class="btn btn-primary " >Donate Now</a> -->
      </div>
      <div class="footer-content">
        <h6
          style="padding-bottom: 1.5vh; padding-top: 1.5vh; font-size: 11px"
          class="text-center"
          id="f2"
        >
          HEADLINE EXPRESS
        </h6>
        <p
          id="f2"
          style="padding-bottom: 1.5vh; font-size: 12px"
          class="text-center"
        >
          Contact us at Headline_Express@gmail.com or visit our website at
          www.Headline_Express.com.
        </p>
        <div
          class="w-10 bg-black d-flex justify-content-center"
          style="margin-top: 2vh"
        >
          <a href="https://www.facebook.com" target="_blank">
            <i class="bi bi-facebook" style="color: white; margin: 0 20px"></i>
          </a>
          <a href="https://www.x.com" target="_blank">
            <i class="bi bi-twitter-x" style="color: white; margin: 0 20px"></i>
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <i class="bi bi-instagram" style="color: white; margin: 0 20px"></i>
          </a>
        </div>
      </div>
      <div id="f1" class="d-flex justify-content-center">
        <p style="font-size: 8px" class="text-center">
          &copy; 2024 HEADLINE EXPRESS. All rights reserved.
        </p>
      </div>
    </div>
  </body>
  
</html>
